* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: monospace;
    font-size: 1rem;

    border: none;

    color: white;
    background-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow-x: hidden;
}

button {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

button:hover {
    text-shadow: 0 0 1px #0ff, 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 50px #0ff;
}

button:active {
    scale: 0.9;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    width: 100%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

footer {
    width: 100%;
}

footer > pre {
    width: fit-content;
    color: #010101;
}

@media (max-width: 1000px) {
    * {
        font-size: xx-small;
    }
}